body {
	background-color: #000814;
	font-family: sans-serif;
	overflow: hidden;
	color: #FFD60A;
}

.tetris-title {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 100px;
	margin-top: 0;
	margin-bottom: 10px;
}

.tetris-subtitle {
	margin-top: 0;
	font-size: 40px;
}

h1 span {
	font-weight: 900;
}

.start-wrapper {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  
}

.container {
	width: 860px;
	margin: 0 auto;
	display: grid;
	gap: 50px;
	align-items: center;
	align-self: center;
	grid-template-areas: "next game score" "next game score";
}

.game-area {
	border: 2px solid #003566;
	border-width: 0 2px 3px 2px;
	display: block;
}

@keyframes bouncing {
	from {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0px);
	}
}

.preview-button {
  grid-column: 2 / 3;
  font-family: 'tetris', sans-serif;
  color: #FFD60A;
  border: 2px solid #FFD60A;
	border-radius: 100px;
  padding: 40px 70px;
  font-size: 30px;
  text-align: center;
  margin: 0;
	animation: bouncing 2.5s ease-in-out infinite;
}

